/* sidebar row left */
.sidebarrow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 200px;
    height: 30px;

    
}

.sidebarrow__icon {
    color: #606060;
    font-size: large !important;
    height: 100%;

}

.sidebarrow__title {
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}

.sidebarrow:hover {
    background-color: lightgray;
    cursor: pointer
}

.sidebarrow:hover >.sidebarrow__icon {
    color: red
}

.sidebarrow:hover >.sidebarrow__title {
    font-weight: bold;
}

.sidebarrow.selected {
    background-color: lightgray;
}

.sidebarrow.selected >.sidebarrow__icon {
    color: red
}

.sidebarrow.selected >.sidebarrow__title {
    font-weight: bold;
}

.sidebar {
    flex: 0.2;
    display: none;     
    // display: block;
    margin-top: 10px;     
    z-index: 1; 
    left: 0;
    top: 0;
    overflow: auto; 
    transform: 500ms;
}
.sidebar.active {
    display: block;
    height: 100vh;
    // flex: 0.2;  
    position: fixed;
    // left: 0;
    top: 60px;
    background-color: white;
    z-index: 4; 


    
}



.sidebar > hr {
    height: 1px;
    border: 0;
    background-color: rgb(211, 211, 211);
    margin-top: 10px;
    margin-bottom: 10px;
} 

.button_icon_burger {
    border: none;
    border-color: white;
    background-color: white;
    border-radius: 50%;
    margin-left: -10%;
}
a {
    text-decoration: none;
    color: black;
}

// .button_icon_burger:focus {     
//     background-color:rgb(211, 211, 211);    
// }

