// Place all the styles related to the api/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.recommendedVideos {
    flex: 1;
    background-color: #f9f9f9;
    padding: 30px 10px;
    padding-bottom: 0;
    margin-left: 18%;
}
.video__show {
    // flex-grow: 1;
    // flex-direction: row;
    // align-self: center !important;
    // justify-content: center;
    background-color: #f9f9f9;
    width: calc(70% - 250px);
    padding: 30px 10px;
    padding-bottom: 0;
    margin-left: 15%;
    // margin: 0 auto !important;
}

#video__frame {
    width: 100%;
    height: auto;
}
.recommendedVideos > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.recommendedVideos__videos {
    display: flex;
    flex-wrap: wrap;
}

.recommendedVideos__videos > * {
    margin-left: 5%;
}




.videoCard {
    width: 270px;
    margin-bottom: 30px;
}

.videoCard__image {
    height: 140px;
    width: 250px;
}

.videoCard__info {
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}

.videoCard__text {
    margin-left: 15px;
}

.videoCard__text > h4 {
    font-size: 14px;
    margin-bottom: 5px;
    color: rgb(24, 22, 22);
}
.videoCard__text > h4:visited {
    text-decoration: none;
}

.videoCard__text > p {
    font-size: 14px;
    color: gray;
}

.videoCard__avatar {
    height: 30px !important;
    width: 30px !important;
}

.videoCard__text > * {
    margin: 1px;
}
.link__video {
    text-decoration: none;
}
.link__video:visited {
    text-decoration: none;
}



.videoinfo {
    margin: 3% 0% 0% 0%;
    
}
.videoinfo__headline {
    display: flex;
    justify-content: start;
    font-family: sans-serif;
    h1 {
        font-weight: normal;
        margin: 0;
        font-size: 18px;
    }
}
.videoinfo__stats {
    // margin-bottom: 0px;
    // padding-bottom: 0px;
    display: flex;
    justify-content: start;
    color: gray;
}

#status {
    margin-top: 25px;
    margin-bottom: 0px;
}

.likes {
    // display: flex;

    margin-left: 40px;
    font-size: 1.1rem;
    color:black;
}
.thumbs__up {
    height: 20px;
    // fill: rgb(187, 6, 6)
    font-size: 3rem;
}

.thumbs__down {
    transform: scaleY(-1,-1);
    transform: rotateY(180deg);
    margin-left: 25px;
    height: 20px;
    font-size: 3rem;
}


.videoinfo {
    flex-direction: row;
}

.videoinfo__channeltitle {
    font-size: small;
    margin-left: 20px;
}
.videoinfo__channel {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#avatar {
    
  width: 40px;
  height: 40px;
  border-radius: 50px;
  float: left;

}
.user__cicle{
    height: inherit;
    color: rgb(59, 58, 58);
    font-size: 30px;
}
.videoinfo__channeldesc {
    color: rgb(59, 58, 58);
    font-size: small;
}

