// Place all the styles related to the api/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .recommendedVideos {
//     flex: 0.8;
//     background-color: #f9f9f9;
//     padding: 40px 20px;
//     padding-bottom: 0;
// }
// .recommendedVideos > h2 {
//    margin-left: 5px ;
//    margin-bottom: 20px ;
// }

.recommendedVideos {
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 30px 10px;
    padding-bottom: 0;
}
.video__show {
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 30px 10px;
    padding-bottom: 0;
}

.recommendedVideos > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.recommendedVideos__videos {
    display: flex;
    flex-wrap: wrap;
}

.recommendedVideos__videos > * {
    margin-left: 5%;
}




.videoCard {
    width: 270px;
    margin-bottom: 30px;
}

.videoCard__image {
    height: 140px;
    width: 250px;
}

.videoCard__info {
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}

.videoCard__text {
    margin-left: 15px;
}

.videoCard__text > h4 {
    font-size: 14px;
    margin-bottom: 5px;
    color: rgb(24, 22, 22);
}
.videoCard__text > h4:visited {
    text-decoration: none;
}

.videoCard__text > p {
    font-size: 14px;
    color: gray;
}

.videoCard__avatar {
    height: 30px !important;
    width: 30px !important;
}

.videoCard__text > * {
    margin: 1px;
}
.link__video {
    text-decoration: none;
}
.link__video:visited {
    text-decoration: none;
}



.videoinfo {
    margin: 3% 0% 0% 0%;
}
.videoinfo__headline {
    font-family: sans-serif;
    h1 {
        font-weight: normal;
        margin: 0;
        font-size: 18px;
    }
}


.videoinfo {
    flex-direction: row;
}

.videoinfo__channeltitle {
    font-size: small;
}

.videoinfo__channeldesc {
    color: rgb(59, 58, 58);
    font-size: small;
}

